body {
    font-family: Helvetica, sans-serif;
    color: #111111;
    background-color: #fffff8;
}

pre, code {
    font-family: Menlo, Consolas;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.username {
    margin-top: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.bloglink {
    color: #909090;
}

.bloglink .date {
    font-family: monospace
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
}

.footer {
    margin-top: 30px;
    font-size: x-small;
}

pre {
    background-color: #202020;
    color: #F0F0F0;
    padding: 10px;
    border-radius: 5px;
}
