{{ partial "header.html" . }}

<div class="bio">
<div class="text">
<p>
Hi, I'm Jonathan. I am a software architect, engineer, and team lead. I currently work at <a href="https://posit.co/">Posit</a> and am an alumnus of <a href="https://www.rstudio.com/">RStudio</a> and <a href="https://www.microsoft.com/">Microsoft</a>. I'm especially interested in product design, information visualization, and software construction, and am more fond than I ought to be of plain text and terminals. This is my personal software engineering blog.
</p>

<p>You can also find me on <a rel="me" href="https://mastodon.online/@jmcphers">Mastodon</a>, <a href="https://twitter.com/jmcphers">Twitter</a>, <a href="https://www.linkedin.com/in/jonathanmcpherson/">LinkedIn</a>, and <a href="https://github.com/jmcphers/">Github</a>.
</p>
</div>
<div class="photo">
    <img src="/img/jmcphers.jpg" width="160" height="160" />
</div>

</div>

<h1>blog</h1>

{{ range (where .Site.RegularPages "Type" "blog") }}

<p class="bloglink">
<span class="date">{{ .Date.Format "2006-01-02" }}</span>
&nbsp;
<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
</p>

{{ end }}

{{ partial "footer.html" . }}
