<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/emm386.css" />
  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/img/r-pentamino.svg" />
  <a rel="me" href="https://mastodon.online/@jmcphers">Mastodon</a>
</head>
<body>
<div class="container">
<div class="header">
    <div class="site-logo svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" font-family="Menlo,Lucida Console,monospace" viewBox="0 0 80 89">
          <g transform="translate(8,16)">
            <circle class="dead" cx="0" cy="0" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="0" cy="16" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="0" cy="32" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="0" cy="48" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="0" cy="64" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="16" cy="0" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="16" cy="16" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="alive" cx="16" cy="32" r="6" stroke="currentColor" fill="currentColor"></circle>
            <circle class="dead" cx="16" cy="48" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="16" cy="64" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="32" cy="0" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="alive" cx="32" cy="16" r="6" stroke="currentColor" fill="currentColor"></circle>
            <circle class="alive" cx="32" cy="32" r="6" stroke="currentColor" fill="currentColor"></circle>
            <circle class="alive" cx="32" cy="48" r="6" stroke="currentColor" fill="currentColor"></circle>
            <circle class="dead" cx="32" cy="64" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="48" cy="0" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="alive" cx="48" cy="16" r="6" stroke="currentColor" fill="currentColor"></circle>
            <circle class="dead" cx="48" cy="32" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="48" cy="48" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="48" cy="64" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="64" cy="0" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="64" cy="16" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="64" cy="32" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="64" cy="48" r="6" stroke="currentColor" fill="#fff"></circle>
            <circle class="dead" cx="64" cy="64" r="6" stroke="currentColor" fill="#fff"></circle>
            </g>
        </svg>
    </div>
    <div class="name">
        jmcphers
    </div>
    <ul class="links">
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>
